<div data-ng-controller="HeaderController">
    <ul class="navbar-nav nav">
        <li>
            <a class="navbar-brand" href="/">Memorize</a>
        </li>
        <li data-ng-repeat="item in menu" data-ng-show="global.user" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
            <a href="#!/{{item.link}}">{{item.title}}</a>
        </li>
    </ul>
    <ul class="navbar-nav nav pull-right" data-ng-hide="global.authenticated">
        <li><a href="/auth/google" translate >Signin</a>
        </li>
    </ul>
    <ul class="navbar-nav nav pull-right" data-ng-show="global.authenticated">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				{{global.user.name}} <b class="caret"></b>
			</a>
            <ul class="dropdown-menu">
                <li><a href="/signout" translate >Signout</a>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="navbar-nav nav pull-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{'Language' | translate}}
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li data-ng-repeat="language in languages" ng-class="{active: language.active}">
                    <a data-ng-click="changeLanguage(language.key)">{{language.name | translate}}</a>
                </li>
            </ul>
        </li>
    </ul>
</div>