<section data-ng-controller="WordsetsController" data-ng-init="find()">
    <div class="panel panel-default" data-ng-show="wordsets">
        <div class="panel-heading" translate>WORDSETS</div>
        <div class="list-group">
            <a class="list-group-item" data-ng-repeat="wordset in wordsets" data-ng-click="" >
                {{wordset.name}}
                <span class="badge">{{wordset.words.length}}</span>
                <span class="glyphicon glyphicon-trash" data-ng-click="remove(wordset)" stopPropagation="click"></span>
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
        </div>
    </div>
    <span data-ng-hide="wordsets" translate>NO_WORDSETS</span>
    <button class="btn btn-success pull-right" data-ng-click="create()">
        <span class="glyphicon glyphicon-plus"></span>
        <span translate>ADD</span>
    </button>
</section>