<section data-ng-controller="WordsetsController" data-ng-init="find()">
    <div class="panel panel-default">
        <div class="panel-heading">Wordsets</div>
        <div class="list-group">
            <a href="#" class="list-group-item" data-ng-repeat="wordset in wordsets" >
                <span class="badge">{{wordset.words.length}}</span>
                {{wordset.name}}
            </a>
        </div>
    </div>
    <button class="btn btn-success pull-right" data-ng-click="create()"><span class="glyphicon glyphicon-plus"></span> Add</button>
</section>