.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}

.content {
    margin-top:70px;
    width:100%
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}

a.list-group-item > .glyphicon{
    visibility: collapse;
    margin-right: 1.2em;
    float: right;
}

a.list-group-item:hover > .glyphicon,
a.list-group-item:focus > .glyphicon{
    visibility: visible;
}

a {
    cursor: pointer;
}

.panel-heading .glyphicon {
    margin-right: 0.8em;
}

.modal-footer.without-body {
    margin-top: 0;
    border-top: none;
}

.list-group-item .input-group {
    width: 75%;
}