<section data-ng-controller="WordsetsController" data-ng-init="find()">
    <div class="panel panel-default" data-ng-show="wordsets">
        <div class="panel-heading" translate>WORDSETS</div>
        <div class="list-group">
            <a class="list-group-item clearfix" data-ng-repeat="wordset in wordsets" data-ng-click="" >
                <editable-label ng-model="wordset" editable="name" on-update="update(wordset)" on-remove="remove(wordset)">
                    <span class="badge">{{ngModel.words.length}}</span>
                </editable-label>
            </a>

        </div>
    </div>
    <span data-ng-hide="wordsets" translate>NO_WORDSETS</span>
    <button class="btn btn-success pull-right" data-ng-click="create()">
        <span class="glyphicon glyphicon-plus"></span>
        <span translate>ADD</span>
    </button>
</section>