//AngularJS
script(type='text/javascript', src='/lib/angular/angular.js')
script(type='text/javascript', src='/lib/angular-cookies/angular-cookies.js')
script(type='text/javascript', src='/lib/angular-resource/angular-resource.js')
script(type='text/javascript', src='/lib/angular-route/angular-route.js')
script(type='text/javascript', src='/lib/angular-translate/angular-translate.js')
script(type='text/javascript', src='/lib/angular-translate-storage-cookie/angular-translate-storage-cookie.js')

//Angular UI
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap.js')
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap-tpls.js')
script(type='text/javascript', src='/lib/angular-ui-utils/ui-utils.min.js')

//Application
script(type='text/javascript', src='/core/init.js')
script(type='text/javascript', src='/core/app.js')
script(type='text/javascript', src='/config/route.js')
script(type='text/javascript', src='/config/i18.js')
script(type='text/javascript', src='/common/directives.js')
script(type='text/javascript', src='/common/filters.js')
script(type='text/javascript', src='/common/globalService.js')
script(type='text/javascript', src='/common/removeConfirmController.js')
script(type='text/javascript', src='/index/controller.js')
script(type='text/javascript', src='/header/controller.js')
script(type='text/javascript', src='/options/controller.js')
script(type='text/javascript', src='/wordsets/service.js')
script(type='text/javascript', src='/wordsets/controller.js')


if (process.env.NODE_ENV == 'development')
    //Livereload script rendered
    script(type='text/javascript', src='http://' + req.host + ':35729/livereload.js')