head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width,initial-scale=1')

  title= appName
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  meta(name="keywords", content="node.js, express, mongoose, mongodb, angularjs")
  meta(name="description", content="Simple app for learning new language by memorizing new words")

  link(href='data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAzMzMAJT2/wBq8PwAR+38AML6/wAA6v8AI+v8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEQAAAAAAAAERAAAAAAcAAREABwAAAHABEQBwAAAAAGJVYAAAB3AGc1I2AHcAAGdyVTRgAAAAZ0VVNGAAAABnQiU0YAAHcGdDI0RwdwAAZ3Q0Q3AAAAAGd0R3AAAABwBnd3AHAABwAAAAAABwD//wAA/v8AAPx/AAD8fwAA3HcAAOxvAAD4PwAAMBkAAOAPAADgDwAA4A8AACAJAADgDwAA8B8AANg3AAC/+wAA', rel='shortcut icon', type='image/x-icon')
  
  meta(property='fb:app_id', content='APP_ID')
  meta(property='og:title', content='#{appName}')
  meta(property='og:description', content='Simple app for learning new language by memorizing new words')
  meta(property='og:type', content='website')
  meta(property='og:url', content='APP_URL')
  meta(property='og:image', content='APP_LOGO')
  meta(property='og:site_name', content='#{appName}')
  meta(property='fb:admins', content='APP_ADMIN')

  link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
  //- link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap-responsive.css')
  link(rel='stylesheet', href='/css/common.css')

  link(rel='stylesheet', href='/css/views/articles.css')

  //if lt IE 9
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
